In [1]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
import statsmodels.api as sm
import sklearn.metrics as metrics

In [2]:
s_train = pd.read_csv('datasets/train.csv')
s_test = pd.read_csv('datasets/test.csv')

In [3]:
def clean_header(df):
    
    '''This function removes wierd characters and spaces from columns and keeps everything lowercase'''
    
    df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')','')

In [4]:
s_train.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [5]:
# clean header script
clean_header(s_train)
clean_header(s_test)
s_train.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type,saleprice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [6]:
# Changing like qualitative data to numeric for easier analysis 
s_train[['exter_qual', 'exter_cond', 'bsmt_qual', 'bsmt_cond', 'kitchen_qual', 'garage_qual', 'garage_cond']] = s_train[['exter_qual', 'exter_cond', 'bsmt_qual', 'bsmt_cond', 'kitchen_qual', 'garage_qual', 'garage_cond']].replace({'Ex':1, 'Gd':2, 'Ta':3, 'Fa':4, 'Po':5, 'NA':0}).fillna(0)
s_test[['exter_qual', 'exter_cond', 'bsmt_qual', 'bsmt_cond', 'kitchen_qual', 'garage_qual', 'garage_cond']] = s_test[['exter_qual', 'exter_cond', 'bsmt_qual', 'bsmt_cond', 'kitchen_qual', 'garage_qual', 'garage_cond']].replace({'Ex':1, 'Gd':2, 'Ta':3, 'Fa':4, 'Po':5, 'NA':0}).fillna(0)
# df['outcome_dummy'] = df['outcome'].replace({"Alive":0, "Dead":1})

In [7]:
s_train['lot_config'] =  s_train['lot_config'].map(lambda x: x.lower())
# s_test['lot_config'] = map(str.lower, s_test.lot_config)
# df['lower_desc'] = map(lambda x: x.lower(), df['Description']) print df lower() 
s_train['lot_config']

0       culdsac
1       culdsac
2        inside
3        inside
4        inside
         ...
2046     inside
2047     inside
2048     inside
2049     corner
2050     inside
Name: lot_config, Length: 2051, dtype: object

In [8]:
s_test['lot_config'] =  s_test['lot_config'].map(lambda x: x.lower())

In [9]:
s_train[['lot_config']] = s_train[['lot_config']].replace({'inside':1, 'corner':2, 'culdsac':3, 'fr2':4, 'fr3':5}).fillna(0)
s_test[['lot_config']] = s_test[['lot_config']].replace({'inside':1, 'corner':2, 'culdsac':3, 'fr2':4, 'fr3':5}).fillna(0)

In [10]:
s_train['lot_config'].unique()

array([3, 1, 2, 4, 5])

In [11]:
s_test['lot_config'].unique()

array([1, 3, 2, 4, 5])

In [12]:
s_train['lot_shape'] =  s_train['lot_shape'].map(lambda x: x.lower())
s_test['lot_shape'] =  s_test['lot_shape'].map(lambda x: x.lower())

In [13]:
s_train[['lot_shape']] = s_train[['lot_shape']].replace({'reg':1, 'ir1':2, 'ir2':3, 'ir3':4}).fillna(0)
s_test[['lot_shape']] = s_test[['lot_shape']].replace({'reg':1, 'ir1':2, 'ir2':3, 'ir3':4}).fillna(0)

In [14]:
s_train[['lot_config']].isnull().sum()

lot_config    0
dtype: int64

In [15]:
lots_train_filtered = s_train.filter(['lot_frontage', 'lot_area', 'lot_config', 'lot_shape']).fillna(0)
lots_test_filtered = s_test.filter(['lot_frontage', 'lot_area', 'lot_config', 'lot_shape']).fillna(0)

In [16]:
lots_train_filtered

      lot_frontage  lot_area  lot_config  lot_shape
0              0.0     13517           3          2
1             43.0     11492           3          2
2             68.0      7922           1          1
3             73.0      9802           1          1
4             82.0     14235           1          2
...            ...       ...         ...        ...
2046          79.0     11449           1          2
2047           0.0     12342           1          2
2048          57.0      7558           1          1
2049          80.0     10400           2          1
2050          60.0      7500           1          1

[2051 rows x 4 columns]

In [29]:
#Trying out a very small model first. 
train_feat = lots_train_filtered
test_feat = lots_test_filtered
print(train_feat.describe())
print(test_feat.describe())

       lot_frontage       lot_area   lot_config    lot_shape
count   2051.000000    2051.000000  2051.000000  2051.000000
mean      57.944417   10065.208191     1.402730     1.404193
std       33.137332    6742.488909     0.772498     0.566514
min        0.000000    1300.000000     1.000000     1.000000
25%       43.500000    7500.000000     1.000000     1.000000
50%       63.000000    9430.000000     1.000000     1.000000
75%       78.000000   11513.500000     2.000000     2.000000
max      313.000000  159000.000000     5.000000     4.000000
       lot_frontage       lot_area  lot_config   lot_shape
count    878.000000     878.000000  878.000000  878.000000
mean      56.872437   10307.033030    1.405467    1.397494
std       34.269502   10002.674602    0.769763    0.579264
min        0.000000    1477.000000    1.000000    1.000000
25%       40.000000    7297.250000    1.000000    1.000000
50%       60.000000    9446.000000    1.000000    1.000000
75%       78.000000   11589.000000    2.000000    2.000000
max      182.000000  215245.000000    5.000000    4.000000

In [30]:
s_test['saleprice'] = np.mean(s_train['saleprice'])
s_test['saleprice']

0      181469.701609
1      181469.701609
2      181469.701609
3      181469.701609
4      181469.701609
           ...
873    181469.701609
874    181469.701609
875    181469.701609
876    181469.701609
877    181469.701609
Name: saleprice, Length: 878, dtype: float64

In [31]:
# train_feat = s_train[['']]
# test_feat = s_test[['']]
# print(train_feat)
# print(test_feat)

In [32]:
X_train = train_feat
X_test = test_feat
print(X_train.shape)
print(X_test.shape)

(2051, 4)
(878, 4)

In [33]:
y_train = s_train['saleprice']
y_test = s_test['saleprice']
print(y_train.shape)
print(y_test.shape)

(2051,)
(878,)

In [34]:
y_test

0      181469.701609
1      181469.701609
2      181469.701609
3      181469.701609
4      181469.701609
           ...
873    181469.701609
874    181469.701609
875    181469.701609
876    181469.701609
877    181469.701609
Name: saleprice, Length: 878, dtype: float64

In [35]:
lr = LinearRegression()

In [36]:
# Fit the model on training data
lr.fit(X_train, y_train)

LinearRegression()

In [37]:
y_pred = lr.predict(X_test)

In [38]:
y_pred

array([169010.70720279, 174268.59476673, 218837.62995018, 163251.04273293,
       173917.03674658, 129753.8323556 , 159322.49092677, 176125.29598425,
       142099.97367604, 174083.8300682 , 155432.40391966, 161722.8274231 ,
       176655.41188227, 132671.46701169, 212580.4660709 , 164422.90280011,
       168198.89634988, 169451.70100267, 177998.57475293, 214335.08129935,
       171195.71725726, 173081.08692088, 157248.78702378, 202529.03938664,
       176741.62334754, 198281.41388934, 184464.57646226, 160729.18844549,
       173658.35228192, 147947.22904933, 169229.59647789, 154383.31775477,
       211876.56779561, 176262.48576452, 176342.91586436, 210374.19613171,
       158077.04054746, 134893.66091685, 172254.43051571, 204957.19053552,
       144872.45761591, 178972.93892527, 169480.56713766, 183706.10328643,
       184637.87128502, 128979.10264453, 211033.63797906, 163024.89416441,
       164355.6826185 , 169723.61959604, 161325.50359715, 159392.85692445,
       205429.62431496, 161722.8274231 , 159118.6939405 , 162460.66102414,
       164553.10947424, 135985.22686831, 220265.67389558, 175687.84751475,
       245274.84182449, 172756.12994444, 188230.05624417, 182282.81555945,
       162734.42027476, 179302.33883303, 172269.4653188 , 140492.05723465,
       158927.90918356, 124967.57212565, 191421.04180401, 311329.43688525,
       211278.92788819, 180712.45413608, 171768.62662343, 194755.70094106,
       211560.97118475, 173729.17949867, 171397.53760216, 251003.61447031,
       168647.83740739, 159696.67249743, 152574.09545425, 167238.64876152,
       219782.79329329, 190950.17710807, 164913.99840923, 151169.49518313,
       190810.89571495, 163597.80353058, 171473.03449537, 175197.23311614,
       156171.95485093, 183036.92639641, 153153.78712238, 162735.61468115,
       169451.70100267, 141982.92365344, 165549.05454721, 167890.46858619,
       185188.59450379, 192835.2173177 , 189187.49129498, 194904.77024905,
       224751.15783524, 143382.04819715, 169978.28485414, 194179.36535249,
       199663.42045518, 174020.11038835, 179146.42761238, 131638.49406359,
       178208.75030782, 196824.01775268, 264324.74200347, 291394.92341096,
       169159.38645577, 131497.21813173, 208621.85794239, 213173.09568902,
       227992.24137978, 219451.87796323, 162441.59124209, 222672.90446751,
       158225.0651115 , 229648.36148742, 234181.64536   , 167065.50108175,
       198688.02380151, 235535.60130109, 201003.19459773, 201832.17708969,
       181865.1157714 , 214745.63988074, 132070.12749791, 214201.72841464,
       173617.25615257, 174599.34083741, 140487.71701218, 210377.47793191,
       173893.6467335 , 169768.53724305, 167157.24295684, 225060.84734485,
       160761.13869179, 161245.85995133, 160856.62358615, 180964.1870394 ,
       164292.69612598, 202717.49593182, 223516.82576131, 172473.74351558,
       194822.25657994, 165690.89823154, 160420.56721194, 169338.10203966,
       129775.53346796, 170141.66039143, 233588.36527199, 135414.48761337,
       180594.16377471, 175197.23311614, 175971.23385893, 196526.30456104,
       152926.84788079, 175729.56083873, 177421.27189758, 143382.83465117,
       210691.87209281, 173270.03835489, 266938.38658695, 162278.83289943,
       216864.45490061, 132643.03686408, 178143.95643331, 212266.45041165,
       157816.6271992 , 169982.3198331 , 129762.51280055, 166811.92330215,
       161703.5641712 , 136846.7610288 , 191369.07130251, 209739.19326043,
       175586.33349719, 164422.90280011, 172756.02723558, 171548.98838861,
       205328.55152504, 175105.95667916, 175586.33349719, 135747.40761982,
       164592.3074606 , 158563.60246424, 169427.04332506, 172336.28176706,
       175021.18213781, 178578.31968775, 187013.08084109, 159021.63191906,
       261142.54764102, 164669.56651267, 216331.39820973, 212038.59295096,
       205108.02412734, 160386.49590207, 131850.94626312, 161510.42849027,
       188840.1290751 , 229791.54400034, 172044.23075034, 172392.85219667,
       159350.29442046, 769780.80134227, 179367.4042813 , 171427.15691591,
       159535.273996  , 152092.33075997, 168699.05090559, 131638.49406359,
       145962.78855139, 161866.83699963, 165463.82300583, 276865.53340592,
       133821.16896647, 168198.89634988, 141112.74271777, 170505.45262498,
       224356.92655866, 214162.20519333, 199436.96766435, 128887.95797264,
       156514.56045789, 162495.84402298, 257118.25092011, 220854.35125216,
       152086.09239451, 200200.16689863, 263267.8197279 , 148907.80609168,
       208038.33671302, 177085.39915042, 186970.32908627, 222737.29460869,
       225585.39876878, 207851.00723471, 217788.59705199, 160898.64215365,
       200327.82878442, 203590.15644128, 194293.21065755, 162990.62938467,
       213827.54684399, 172456.24664157, 243198.18557527, 153632.92048635,
       162745.08579915, 263015.94240238, 181263.9991782 , 231681.34393818,
       221319.42551789, 167040.05695012, 129753.8323556 , 217631.61585571,
       364637.859065  , 170365.51130267, 167890.46858619, 172330.38018991,
       176452.07611507, 140487.25579311, 161722.8274231 , 164843.76839567,
       161722.8274231 , 183899.5484299 , 160034.93788192, 186141.89053081,
       142626.52425225, 192372.46180444, 160386.49590207, 171642.45492826,
       213958.3591594 , 179678.68207684, 169477.87832162, 170349.20883506,
       157782.36241946, 260262.65728886, 228436.73568141, 129890.54936344,
       165629.02764701, 169451.70100267, 208929.74176958, 168054.149367  ,
       129753.8323556 , 166188.64437752, 147460.31808162, 124967.57212565,
       211736.48205111, 173786.85006388, 217789.24752188, 175578.88495294,
       208965.57523832, 190897.39452636, 165481.18389571, 153632.92048635,
       156514.56045789, 134893.66091685, 511967.82756852, 161395.92286152,
       176189.14321015, 184297.93489716, 187435.14084305, 146128.94780223,
       218320.27430468, 226916.33164508, 160386.49590207, 184543.82370907,
       216015.8054234 , 190280.16471637, 204602.35071516, 169860.64184739,
       154383.31775477, 158101.64073933, 150712.41198244, 228653.34307163,
       160386.49590207, 163995.28817785, 203565.95998274, 142964.00318272,
       165985.38288967, 174604.98199967, 173178.43246392, 151234.9406313 ,
       187867.3756996 , 164133.26129685, 167157.24295684, 158288.59554053,
       163251.04273293, 175555.57343825, 170073.87245736, 180265.05231685,
       256936.88925472, 164793.66658643, 171115.5258504 , 168650.00751862,
       182643.2632668 , 202633.13738642, 200990.30991444, 137265.13549722,
       216085.00646542, 177881.82997385, 263302.78363069, 166266.30294389,
       129298.10899615, 219718.3488642 , 173792.57816261, 188205.45183326,
       165855.17621554, 206187.77959017, 174083.8300682 , 176793.57003306,
       174665.74511426, 236226.23678594, 211652.44491612, 183249.65095869,
       182325.18357236, 185168.30086462, 216104.3738419 , 182738.09769127,
       211257.81412525, 152001.9192754 , 177374.83460923, 129753.8323556 ,
       174090.74835428, 173337.6170467 , 167890.46858619, 233421.5386751 ,
       160232.09698844, 183197.83986279, 143009.38626784, 145132.40552606,
       180033.29937111, 204661.54092172, 233942.55462245, 198427.18601922,
       168650.00751862, 180929.92225966, 169535.22787092, 159670.49939751,
       212704.69096992, 163222.04483285, 129298.10899615, 174505.15688284,
       167890.46858619, 171115.5258504 , 223269.29709634, 122524.02687447,
       164807.33772374, 215929.28559934, 171711.28973124, 213222.73245465,
       254110.66560402, 188369.40036328, 200437.73066052, 220117.64089345,
       166827.1140808 , 171922.26329351, 159222.8592798 , 198253.15761465,
       175334.27535892, 162048.34410843, 152719.76487528, 160386.49590207,
       180184.31799472, 169330.9612275 , 176262.48576452, 229137.60311209,
       217903.79837375, 216815.77424289, 176456.69674386, 188300.28625773,
       232113.15085092, 184074.88621234, 216912.97997727, 158346.59555973,
       242194.61847963, 187939.90758947, 194070.02287332, 165549.05454721,
       172289.45331995, 223145.27552097, 167238.64876152, 199581.4549416 ,
       165594.76286728, 205162.37539805, 177314.6644788 , 234973.81867838,
       187639.73232692, 186187.84558744, 166960.45923668, 204923.77009004,
       176487.70456058, 177108.81337397, 157782.36241946, 177714.73140871,
       181354.35006175, 239608.87627416, 169370.75641706, 150712.41198244,
       225428.55355663, 160386.49590207, 183031.5039357 , 178994.5198259 ,
       188686.05117738, 153632.92048635, 164843.76839567, 135079.83348307,
       168650.00751862, 200036.89789473, 214289.78053716, 160610.34259427,
       130351.39939939, 167404.36366944, 165642.69456528, 252328.98468274,
       145378.55053381, 207808.66343227, 192210.16046181, 137931.81664656,
       155432.40391966, 171980.07406189, 175895.26419329, 219766.54409237,
       172404.46921543, 214243.61099801, 201440.87332214, 198281.41388934,
       168524.41303521, 177983.38397428, 172264.95583694, 169427.04332506,
       180929.92225966, 182861.77825929, 128979.10264453, 163321.27274649,
       179987.31908279, 174526.39677612, 124993.61346048, 189156.55775761,
       162452.33908941, 155052.63445345, 160420.7606818 , 208579.10618758,
       155221.11667579, 177167.40637733, 220826.01959437, 122029.24151278,
       166245.79623793, 154218.85473898, 177334.9619425 , 177742.50162714,
       291566.4346677 , 179403.43583343, 258285.2891598 , 159438.29327628,
       189827.12212938, 171164.42169989, 172599.60996724, 134576.82467646,
       141235.34696616, 171642.45492826, 216484.73487656, 131809.71414965,
       173254.84757624, 164843.76839567, 162943.67761055, 176331.92932406,
       232435.29879958, 228537.78323965, 205381.55663283, 210836.86198772,
       153632.92048635, 154969.25200739, 276129.27593885, 173270.03835489,
       123912.89806519, 197393.4266171 , 181512.26907407, 173432.79669755,
       165594.76286728, 171179.81328272, 131688.18792046, 205282.97918909,
       176262.48576452, 162693.64938036, 162990.62938467, 159392.85692445,
       128963.91186588, 176553.55263833, 224764.43469851, 178396.11688593,
       173693.07406169, 170448.56851378, 128857.57641534, 203586.7555331 ,
       180035.38676492, 228065.56394272, 174606.36987592, 169839.50044393,
       129298.10899615, 190950.17710807, 153632.92048635, 177484.58362506,
       128643.74055859, 256189.81549985, 228534.45661082, 189772.54371905,
       142868.19305341, 136139.88517561, 144510.50603961, 218437.13507645,
       204365.94457462, 179167.75404763, 267099.19312543, 175394.44127032,
       150105.56729051, 175938.666418  , 174599.34083741, 161612.50604127,
       161291.43650631, 156858.9534554 , 141132.73071892, 170020.59960035,
       160632.04370663, 180976.7580411 , 226045.00113164, 155052.63445345,
       178519.40144945, 124967.57212565, 200283.3643129 , 168753.98782614,
       168277.02035436, 183606.14218547, 206394.16729717, 153860.18918192,
       178001.1860918 , 172392.85219667, 221987.81555939, 173473.29984274,
       215816.75239293, 171922.26329351, 193445.154559  , 154451.51364121,
       169201.07978831, 135206.15693476, 188697.08715984, 183603.4993018 ,
       159118.6939405 , 159084.42916076, 264859.04534623, 193469.22769053,
       154383.31775477, 141112.74271777, 226436.732843  , 198108.06579988,
       150109.90751299, 165301.93383461, 152882.52321794, 169226.80010723,
       179980.21576493, 164669.56651267, 171193.64985488, 174716.58011082,
       172172.26731323, 281423.09223542, 162261.47200954, 153632.92048635,
       208381.62606515, 209059.29797382, 167892.50693234, 170119.34208445,
       162593.82426352, 161951.47133781, 160386.49590207, 165549.05454721,
       157782.36241946, 162990.62938467, 205275.41043312, 211796.32272756,
       185526.32438986, 174599.34083741, 187435.14084305, 160777.38789271,
       207299.70088557, 155232.88967012, 172257.51884605, 123165.92280015,
       132595.2944169 , 177130.53025872, 177998.57475293, 167417.6563051 ,
       224899.64361836, 208526.56229885, 180513.60190979, 220761.24149226,
       172230.86031659, 155117.73779051, 135707.45263016, 136712.79454179,
       140487.25579311, 285412.96899004, 210894.80834572, 171179.81328272,
       157627.03684865, 172379.19371647, 169018.63868801, 160386.49590207,
       165006.52673833, 165659.07975032, 216739.37490297, 217371.5281369 ,
       179868.28086547, 218230.0482464 , 180991.02216256, 190789.19460259,
       197399.47573174, 280284.89552575, 169783.7280217 , 163657.17876892,
       237162.31173174, 177100.14870143, 169391.26312302, 137292.06560043,
       141293.31895035, 130575.13955819, 168399.79425664, 179146.42761238,
       169520.49409231, 119646.45937619, 194966.62123664, 160386.49590207,
       228755.19809653, 232203.69831961, 203149.43460964, 215997.79406362,
       217777.13352021, 175394.44127032, 164843.76839567, 237027.93409453,
       169409.54645105, 205620.45811956, 153202.31602358, 134426.63000118,
       249123.64345143, 162203.34022526, 164739.63633163, 183796.20219316,
       223862.47065095, 218746.26657674, 160152.39585688, 241846.65594127,
       124993.61346048, 160004.55632462, 170014.87150163, 179782.40618851,
       180602.70823553, 186485.93728072, 179231.1821623 , 170508.27320611,
       167404.63563769, 184460.89404401, 205577.978333  , 141202.14482774,
       175394.44127032, 189076.97683778, 150712.41198244, 326945.16657169,
       230689.47657872, 132862.21809887, 175394.44127032, 219401.96158027,
       165549.05454721, 172456.24664157, 165407.9973169 , 129298.10899615,
       229414.41008347, 176262.48576452, 182835.61671274, 169783.7280217 ,
       205672.73043454, 152719.76487528, 169391.26312302, 221136.99597095,
       180067.131988  , 176432.67687904, 180168.67021603, 225580.73331136,
       172978.78644929, 184046.20199385, 167920.85014349, 219204.02406331,
       224203.49913084, 178334.469222  , 167262.05876604, 133242.20626663,
       213766.767957  , 149181.67329141, 173563.30861519, 171922.26329351,
       123934.59917755, 183313.82763857, 219731.82231261, 165594.76286728,
       132070.12749791, 180884.80692375, 216294.58099258, 130118.41104317,
       197935.95442598, 153354.2280291 , 160002.38621338, 152423.38207416,
       173270.03835489, 172456.24664157, 176492.65353961, 200601.6374772 ,
       160856.62358615, 192800.0385379 , 162990.62938467, 170250.31459444,
       183582.13497776, 159515.03362354, 222579.66716156, 184119.40434506,
       176356.24177529, 182685.99924922, 173396.21005006, 173270.03835489,
       220406.40589094, 183690.30375122, 162495.84402298, 168394.20636108,
       119956.78528287, 234268.34327602, 159991.07865717, 160386.49590207,
       188515.72407874, 144190.41744975, 170068.79904757, 133872.57593454,
       207318.0374803 , 176895.23580715, 180068.72488747, 132994.81358578,
       139667.90563496, 223471.38519045, 235421.779812  , 181233.56395971,
       178929.04181173, 212714.74099925, 167808.92679739, 207796.89043795,
       166067.57514837, 161722.8274231 , 201690.98387526, 167296.02736705,
       184913.33248798, 153632.92048635, 152882.52321794, 169946.62234849,
       167165.32619859, 170745.87797208, 170141.66039143, 175514.23861591,
       181181.65516298, 230095.07916698, 196094.07774807, 169391.26312302,
       203674.32995489, 168198.89634988, 174831.27077136, 178269.36588493,
       180602.70823553, 217204.15720901, 190736.44778472, 159609.27084481,
       131809.71414965, 207389.32591612, 194260.38741527, 179229.01205106,
       207680.30163443, 175394.44127032, 143337.26231522, 179734.66374133,
       143101.02160953, 152423.38207416, 210275.07897051, 169409.54645105,
       211636.46768345, 169839.50044393, 208637.37395599, 174479.09555657,
       175394.44127032, 137923.89320491, 166566.43439904, 173432.79669755,
       202976.74814895, 205787.20239352, 158547.87338385, 169391.26312302,
       130883.07665209, 199089.57287846, 144816.64036506, 136608.0487929 ,
       160672.95058515, 169897.53373839, 194966.62123664, 158662.97058104,
       200541.75157762, 128963.91186588, 175200.65090047, 173690.88817805,
       224261.16969605, 140828.42447616, 132261.09728663, 177301.83306221,
       161999.213785  , 168647.83740739, 170177.9350878 , 166958.74612548,
       166371.39072134, 232510.04010521, 351313.88634574, 218202.49109477,
       168780.21419275, 171922.26329351, 191296.74443585, 160215.19309859,
       168301.69068909, 169226.80010723])

In [39]:
cross_val_score(estimator=lr, X=X_train, y=y_train)

array([0.17842145, 0.0535952 , 0.15745381, 0.15500569, 0.17520191])